# Packages
node_modules/
.git
.eslintrc.json
config.json
guildconfigs.json
/reminders/
localdb.sqlite
/.vs
/logs/
error.txt
package-lock.json
Message.mp3
news.png
npm-debug.log.1672669422
npm-debug.log.981994379
webshot test.js
